 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body{
  min-width:600px;
}

.field{
  margin-top: 20px;
  margin-left:300px;
}
.top{
  height:200px;
  width:100%;
  background-color:rgb(186, 186, 196);
  border:solid;
  border-width:3px;
}
.logo{
  float:left;
  height:180px;
  width:180px;
}

.title{
  float:left;
  margin-left:10%;
  margin-top:55px;
  font-size:60px;
}

.nav{
  float:left;
  margin-left:10%;
  list-style:none;
  li{
    margin-bottom:5px;
    }
  }
.links{
  margin-left:-20px;
  margin-top:10px;
  list-style:none;
  float:left;
  font-size:20px;
  li{
    margin-top:20px;
  }
}


.contact{
  margin-left:7.5px;
}

#content{
  float:left;
  padding:10px;
  margin-top:20px;
  margin-left:30px;
  border:solid;
  border-width:10px;
  border-radius:10px;
  border-color:rgb(88, 116, 153);
  width:300px;
}


#mycontent{
  float:left;
  margin-left:30px;
  padding:10px;
  margin-top:20px;
  border:solid;
  border-width:10px;
  border-radius:10px;
  border-color:rgb(203, 64, 83);
  width:300px;
}

.choices{
  color:white;
  background-color:rgb(88, 116, 153);
  border-radius:10px;
}
