 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
// Custom Styles
body{
}
/*color variables*/
$gray1:rgb(186, 186, 196);

$blue1: rgb(88, 116, 153);

$red1: rgb(203, 64, 83);

/*extenstions*/
#container{
  margin:auto;
  min-width:500px;
#top{
  @include outer-container;
  background-color:$gray1;
  border:solid;
  border-width:3px;
  width:100%;
  .logoFrame{
    @include span-columns(2.75);
    height:100%;
    overflow:hidden;
    .logo{
      width:100%;
      float:left;
      }/*end of logo*/
    }/*end of logo frame*/
  .titleFrame{
    @include span-columns(6.75);
    .title{
      width:100%;
      padding-top:50px;
      font-size:35px;
      text-align:center;
      display:inline-block;
      }/*end of title*/
    .navFrame{
      .navB{
        float:left;
        margin-top:50px;
        margin-left:20%;
      }
    }/*end of nav frame*/

  }/*end of title frame*/

  .myBookFrame{
    @include span-columns(2.5);
    .bookImg{
      margin-left:-25px;
      width:100%;
    }
}

}/*.........end of top...............*/


#middle{
  border-top:solid;
  border-left:solid;
  border-right:solid;
  @include outer-container;
  width:100%;

  .heading{
    font-size:30px;
    padding-top:30px;
    width:100%;
    text-align:center;
    @include span-columns(12);
    }
  .form{
    @include span-columns(12);
    @include outer-container;
    .searchBar{
      @include span-columns(6);
      margin-left:25%;
      padding:5px;
      border-radius:50px;
      height:50px;
      }


    .searchBtnFrame{
      @include span-columns(6);
      .searchBtn{
        margin-left:90%;
        margin-top:20px;
        height:80px;
        width:80px;
        color:white;
        background-color:black;
        border-radius:60px;
        padding:5px;
        }
      }/*end of frame*/
    }
  .searchBox{
    @include span-columns(4);

    margin-left:15%;
    }/*end of search results*/

  .addBookList{
    @include span-columns(4);
    margin-left:15%;
    @include outer-container;
    }/*end of add book list*/

}/*end of middle*/

.footer{
  @include outer-container;
  width:100%;
  height:100px;
  border:solid;
  background-color:gray;
}
}

.homeContainer{
  .signUpLink{
    .signUp{
      border-radius:10px;
      background-color:black;
      color:white;
      font-size:30px;
      padding:20px;
      border:solid;
      margin-left:30%;
      margin-top:100px;
      margin-bottom:100px;
      float:left;
    }
  }
  .loginLink{

    .login{
      border-radius:10px;
      background-color:black;
      color:white;
      padding:20px;
      font-size:30px;
      margin-right:30%;
      margin-top:100px;
      margin-bottom:100px;
      float:right;
      border:solid;
    }
  }
}

.loginForm{
  margin-left:20px;
  .formTitle{

    }
  .username{
    display:block;
    }
  .password{
    margin-top:25px;
    display:block;
    }
  .loginBtn{
    margin-top:25px;
    display:block;
    margin-bottom:25px;
  }
}

.signUpForm{
  margin-left:20px;
  .formTitle{
    }
  .email{
    display:block;
  }
  .createUsername{
    margin-top:25px;
    display:block;
    }
  .createPassword{
    margin-top:25px;
    display:block;
    }
  .signUpBtn{
    margin-top:25px;
    display:block;
    margin-bottom:25px;
  }
}
.bookList{
  list-style:none;
}
