 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
// Custom Styles
body{
}
/*color variables*/
$gray1:rgb(186, 186, 196);

$blue1: rgb(88, 116, 153);

$red1: rgb(203, 64, 83);

/*extenstions*/

#top{
  @include outer-container;
  background-color:$gray1;
  border:solid;
  border-width:3px;
  width:100%;

  .logo{
    float:left;
    height:180px;
    width:180px;
    }/*end of logo*/

  .title{
    margin-top:50px;
    margin-left:20px;
    font-size:60px;
    float:left;
    }/*end of title*/

  .nav{
    float:left;
    list-style:none;
    }/*end of nav*/

}/*.........end of top...............*/
#container{
  width:100%;

#middle{
  @include outer-container;
  width:100%;
  margin-left:10%;
  margin-right:10%;

  .heading{
    padding-top:30px;
    margin-left:33.333%;
    @include span-columns(12);
    }

  .searchBar{
    @include span-columns(6);
    margin-left:25%;
    padding:5px;
    border-radius:50px;
    height:50px;
    }

  .searchBtnFrame{
    @include span-columns(6);
    .searchBtn{
      margin-left:90%;
      margin-top:20px;
      height:80px;
      width:80px;
      color:white;
      background-color:black;
      border-radius:60px;
      padding:5px;
      }
    }/*end of frame*/

  .searchResults{
    @include span-columns(4);
    margin-left:15%;

    }

  .addBookList{
    @include span-columns(4);
    margin-left:15%;
    }

  .choices{

    }
}/*end of middle*/

}/*end of container*/
