<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Book Slayer</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div id="container">

      <div id="top">
      </div><!--end of top-->

      <div id="tools">
      </div>

      <div id="middle">

        <div id="middleLeft">
        </div>

        <div id="middleRight">
        </div>
      </div><!--end of middle-->

      <div id="profileTools">
      </div>

      <div id="bottom">
      </div><!--end of bottom-->

    </div><!--end of contianer-->



<!--These are the all the templates-->




      <script type="text/template" id="navBarTemp">
        <div class="logoFrame">
          <img class="logo" src="images/logo.png">
        </div><!--end of logo frame-->
        <div class="titleFrame">
          <span class="title">BookSlayer</span>
            <div class="navFrame">
              <a href="#/" class="homeBtn navB"><img src=images/home.png></a>
              <a href="#/about" class="aboutBtn navB"><img src=images/about.png></a>
              <a href="#/contact" class="contactBtn navB"><img class="contact"
              src=images/contact.png></a>
            </div><!--end of nav frame-->
        </div><!--end of title frame-->
        <div class="myBookFrame">
          <a class="myList" href="#/profile">
            <img class="bookImg" src=images/book.png>
          </a>
            <% if(App.user !== null){ %>
            <button class="logout">Log Out</button>
          <% } else { %>
            <% } %>
        </div>
      </script><!--end of navbar template-->




      <script type="text/template" id="homeTemp">
        <div class="homeContainer">
        <% if(App.user !== null){ %>
        <h2>New York Times Best Seller List</h2>
          <li>HOPE TO DIE, by James Patterson</li>
          <li>THE ESCAPE, by David Baldacci</li>
          <li>GONE GIRL, by Gillian Flynn</li>
          <li>RAY MOUNTAIN, by John Grisham</li>
          <li>THE BURNING ROOM, by Michael Connelly</li>
          <li>UNBROKEN, by Laura Hillenbrand</li>
          <li>KILLING PATTON, by Bill O'Reilly and Martin Dugard</li>
          <li>41, by George W. Bush</li>
          <li>YES PLEASE, by Amy Poehler</li>
          <li>WILD, by Cheryl Strayed</li>
          <br>
          <span>Go to <a href="#/profile">My Profile</a></span>
          <br></br>
      <% } else { %>
          <a href="#/signup" class="signUpLink">
            <div class="signUp">Sign Up
            </div>
          </a>
          <a href="#/login" class="loginLink">
            <div class="login">
            Login
            </div>
          </a>
          <% } %>
        </div><!--end home container-->
      </script>




      <script type="text/template" id="signUpTemp">
        <form class="signUpForm">
          <h3 class="formTitle">Sign Up</h3>
          <span class="email">E-Mail: <input class="emailVal" type="text" placeholder="Your E-Mail"></span>
          <span class="createUsername">Username: <input class="createUsernameVal" type="text" placeholder="Create Username"></span>
          <span class="createPassword">Password: <input class="createPasswordVal" type="password" placeholder="Create Password"></span>
          <button class="signUpBtn">Sign Up</button>
          <span>If you are alreadly registered, click <a href="#/login">Log In</a><span>
        </form>
      </script>




      <script type="text/template" id="loginTemp">
        <form class="loginForm">
          <h3 class="formTitle">Login</h3>
          <span class="username">Username: <input class="usernameVal" type="text" placeholder="Username"></span>
          <span class="password">Password: <input class="passwordVal" type="password" placeholder="Password"></span>
          <button class="loginBtn">Login</button>
          <span>If you are not registered, click <a href="#/signup">Sign Up</a><span>
        </form>
      </script>




      <script type="text/template" id="footerTemp">
        <div class="footer"></div>
      </script><!--end of footer template-->




      <script type="text/template" id="profileTemp">
            <div style="cursor: pointer;" onclick="window.location='#/single/<%=objectId %>';" class="bookList">
              <span class="bookListTitle"><%=title%></span>
            </div>
      </script>




      <script type="text/template" id="toolsTemp">
        <a class="addBookLink" href="#/addBook">Add a book</a>
        <a class="searchLink" href="#/search">Search for a book</a>
        <a class="testLink" href="#/test">Take the reading Test</a>
      </script>




      <script type="text/template" id="searchBookTemp">
        <span>Go back to <a href="#/profile">My Profile</a></span>
        <h2 class="heading">Search for a Book...</h2>
        <form class="form">
          <input class="searchBar" type="text" placeholder="Search for a book..."/></input>
          <div class="searchBtnFrame">
            <button class="searchBtn">Search</button>
          </div><!--end of search button frame-->
        </form><!--end of form-->
        <div class="searchBox">
          <h2>Your Search Results: </h2>
          <div class="searchResults">
          </div>
        </div><!--end of search box-->
      </script><!--end of search book template-->




      <script type="text/template" id="addBookTemp">
        <div>
          <form class="bookForm">
            <div class="addBookFrame">

              <span class="bookTitleLabel">Book Title:</span>
              <input class="bookTitle" placeholder="Book Title"/>
              <br class="b1">
              <span class="question1">How many pages are in the book?</span>
              <input class="pageCount" type="number"placeholder="Page Count"/>
              <br class="b1">
              <span class="questionLevel"> You can read </span>
              <input class="readingLevel" type="number" placeholder="Number of words"/> per minute
              <br class="b1">
              <span class="question2">How many days do you want this book finished by?</span>
              <input class="duration" type="number" placeholder="How many days?" />
              <br class="b1">
            </div>
              <button class="addBookBtn">Add Book</button>
          </form>
        </div>
      </script>








      <script type="text/template" id="testTemp">
          <center><h1>Take the Test</h1>
            <p>This test will help you calculate your words per minute.
            When you hit the start button, a readding template will appear. This is not scientific or
            extremely accurate, this is just to give you an idea.
            When you finish reading hit stop. Then you should see your reading
            rate score at the bottom.</p>
            <table class="formatted"><h2>Guildines Table</h2>
            <caption>Table 8.1. Average rates for reading with understanding for students in Grades 2-12
            </caption>
            <tr>
            <th style="text-align: center;"><strong>Grade equivalent</strong></th>
            <th style="text-align: center;"><strong>Standard words per minute</strong></th>
            </tr>
            <tr>
            <td valign="top"><div align="center">2.5<br />
              3.5<br />
              4.5<br />
              5.5<br />
              6.5<br />
              7.5<br />
              8.5<br />
              9.5<br />
              10.5<br />
              11.5<br />
              12.5</div></td>
            <td valign="top"><div align="center">121<br />
              135<br />
              149<br />
              163<br />
              177<br />
              191<br />
              205<br />
              219<br />
              233<br />
              247<br />
              261</div></td>
            </tr>
            <tr>
            <td colspan="2" valign="top"><p class="pagenote">Source: Carver (1990). A standard word is six letter spaces including punctuation and spacing.</p></td>
            </tr>
          </table>
          </center>
           <div class="testFrame">
            <h2>Are You Ready?</h2>
            <h3>Hit the start button to begin...Good Luck!<h3>
            <div class="btnFrame">
              <button class="start">Start</button>
            </div>
            <div class="readingTemplate">
              <p></p>
              <button class="stop">Stop</button>
           </div>
      </script>




      <script type="text/template" id="singleTemp">
        <div class="singleBookContainer">
          <br></br>
          <span>Go back to <a href="#/profile">My Profile</a></span>
          <br></br>
          <button class="editBtn" onclick="location.href='#/edit/<%=objectId %>'">Edit</button>
          <button class="deleteBtn">Delete</button>
          <br></br>
          <ul class="singleBookItems">
            <div>Book Title: <span class="singleBookTitle"><%=title%> </span></div>
            <div>Pages: <span class="singlePageCount"><%=pageCount%> </span></div>
            <div>Reading Rate: <span class="singleRadingLevel"><%=readingLevel%> </span> words/minute</div>
            <div>Duration: <span class="singleDuration"><%= duration%> days </span></div>
          </ul>
          <br></br>
          <div class="bottomFrame">
            <div class="instructions">Click the slay button to calculate your reading plan!</div>
            <button class="slayBtn">Slay</button><img class="slayImage" text="hi" src="images/slay.png">
            <div class="slayBook"><span class="slayTitle"><%=title%></span></div>
            <div class="slayMessage"></div>
          </div>
        </div>
    </script>




    <script type="text/template" id="editTemp">
      <div>
        <form class="bookForm">
          <span class="bookTitleLabel">Book Title:</span>
          <input type="text" class="bookTitle" value="<%=title%>"/>
          <br></br>
          <span class="questionLevel"> You can read </span>
          <input class="readingLevel" type="number" value="<%=readingLevel%>"/> per minute
          <br></br>
          <span class="question1"> How many pages are in the book?</span>
          <input class="pageCount" type="number" value="<%=pageCount%>"/> pages
          <br></br>
          <span class="question2">How many days do you want this book finished by?</span>
          <input class="duration" type="number" value="<%=duration%>" /> days
          <br></br>
        </form>
      </div>
      <button class="saveEdit">Save</button>
      <button class="cancleBtn" onclick="location.href='#/single/<%=objectId %>'">Cancel</button>

    </script>




    <script type="text/template" id="aboutTemp">
      <div class="aboutInfo">About:
      <p>This Application is suppose to make you
      read better. It was created by Andrew El-Masry at the
      The Iron Yard Academy!!!
      </p></div>
    </script><!--end of navbar template-->

      <script type="text/template" id="contactTemp">
        <ul class="contactInfo">
          <li class="creator">App Creator: Andrew El-Masry</li>
          <br></br>
          <li class="appEmail">E-Mail: andrewelmasry@gmail.com</li>
          <br></br>
          <li class="blog">Blog: andrewelmasry.com</li>
          <br></br>
          <li="github">GitHub: https://github.com/elmasrya</li>
          <br></br>
        </ul>
      </script><!--end of navbar template-->


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/parse/parse.min.js"></script>
    <script src="../bower_components/moment/moment.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

      <script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
        </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/models/book.js"></script>
        <script src="scripts/collections/books.js"></script>
        <script src="scripts/routes/app_router.js"></script>
        <script src="scripts/views/editBook.js"></script>
        <script src="scripts/views/navBar.js"></script>
        <script src="scripts/views/singleBook.js"></script>
        <script src="scripts/views/readingTest.js"></script>
        <script src="scripts/views/addBook.js"></script>
        <script src="scripts/views/profileTools.js"></script>
        <script src="scripts/views/profile.js"></script>
        <script src="scripts/views/contact.js"></script>
        <script src="scripts/views/about.js"></script>
        <script src="scripts/views/navBar.js"></script>
        <script src="scripts/views/login.js"></script>
        <script src="scripts/views/signup.js"></script>
        <script src="scripts/views/home.js"></script>
        <script src="scripts/views/footer.js"></script>
        <script src="scripts/core/main.js"></script>
        <script src="scripts/views/searchBook.js"></script>
        <!-- endbuild -->

</body>
</html>
