<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Book Slayer</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="container">

      <div class="top">
        <img class="logo" src="images/logo.png">
        <span class="title">Book Slayer</span>
        <ul class="nav">
          <li><img src=images/home.png></li>
          <li><img src=images/about.png></li>
          <li><img class="contact" src=images/contact.png></li>
        </ul>
        <ul class="links">
          <li>Home</li>
          <li>About</li>
          <li>Contact Us</li>
        </ul>

      </div>

      <div class="middle">
          <h1 class="heading">Select a book...</h1>
        <div class="field">
            <form id="add" class="inputForm">
              <input class="searchBar" type="text" placeholder="Search for a book..."/>
              <button class="search">Search</button>
            </form>

        </div>
        <div id="content"><h2>Results: <h2></div>
        <output id="mycontent"></output>
      </div><!--end of middle-->

          <div id="myList"></div>

    </div> <!--end of container-->
    <script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
    </script>

      <script type="text/template" id="addTemp">
        <form id="addBook">
        <input type="text" id="coffee_name" placeholder="Coffee Name" />
        <input type="text" id="coffee_brand" placeholder="Coffee Brand" />
        <button>Add Coffee</button>
        </form>
        <hr />
    </script>

    <script type="text/template" id="listTemp">
      <li class="card" id="<%= _id %>">
        <a href="#/edit/<%= _id %>">

        </a>
      </li>
    </script>

    <script type="text/template" id="singleTemp">
      <li class="card" id="<%= _id %>">
        <form id="updateCoffee">
            <div class="card-header">
              <input type="text" value="<%= name %>" id="update_name" />
              <input type="text" value="<%= brand %>" id="update_brand" />
              <textarea id="update_comments"></textarea>
            </div>
            <div class="button-group">

            </div>
            <div class="card-stats">
              <button>Update Coffee</button>
              <button id="delete">Delete</button>
            </div>
        </form>
      </li>
    </script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/models/book_model.js"></script>
        <script src="scripts/collections/book_collection.js"></script>
        <script src="scripts/views/add_book.js"></script>
        <script src="scripts/views/book_list.js"></script>
        <script src="scripts/views/book_view.js"></script>
        <script src="scripts/routes/app_router.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

</body>
</html>
